 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
A IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.red {
	COLOR: #f00
}
.center {
	TEXT-ALIGN: center
}
A {
	COLOR: #0353ce
}
A:visited {
	COLOR: #0353ce
}
TABLE {
	FONT-SIZE: 12px
}
TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 200%; PADDING-TOP: 0px; BACKGROUND-COLOR: #f7f7f7
}
TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #edf7ff; PADDING-BOTTOM: 0px; COLOR: #014198; LINE-HEIGHT: 200%; PADDING-TOP: 0px
}
#footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; COLOR: #9c9c9c; LINE-HEIGHT: 150%; PADDING-TOP: 8px; TEXT-ALIGN: center
}
#footer A {
	COLOR: #9c9c9c
}
#footer A:visited {
	COLOR: #9c9c9c
}
